<form [formGroup]="applyForm" (submit)="submitApplication()">
    <label>Departure City:</label>
    <input type="text" id="DepartureCity" formControlName="departureCity">
    <label>Arrival City:</label>
    <input type="text" id="ArrivalCity" formControlName="arrivalCity">
    <label>Departure Time:</label>
    <input type="text" id="departureTime" formControlName="departureTime">
    <label>Arrival Time:</label>
    <input type="text" id="arrivalTime" formControlName="arrivalTime">
    <label>Train Type:</label>
    <input type="text" id="trainType" formControlName="trainType">
    <label>Days of Operation:</label>
    <label>
    <input type="checkbox" formControlName="monday"> Monday
  </label>
  <label>
    <input type="checkbox" formControlName="tuesday"> Tuesday
  </label>
  <label>
    <input type="checkbox" formControlName="wednesday"> Wednesday
  </label>
  <label>
    <input type="checkbox" formControlName="thursday"> Thursday
  </label>
  <label>
    <input type="checkbox" formControlName="friday"> Friday
  </label>
  <label>
    <input type="checkbox" formControlName="saturday"> Saturday
  </label>
  <label>
    <input type="checkbox" formControlName="sunday"> Sunday
  </label>

    <!-- <input type="text" id="daysOfOperation" formControlName="daysOfOperation"> -->
    <label>First Class Rate:</label>
    <input type="text" id="firstClassRate" formControlName="firstClassRate">
    <label>Second Class Rate:</label>
    <input type="text" id="secondClassRate" formControlName="secondClassRate">
    <label>Duration (Minutes):</label>
    <input type="text" id="duration" formControlName="duration">
    <label>Sort By:</label>
    <select id="sortBy" formControlName="sortBy">
        <option value="">No choice</option>
        <option value="firstClassRate">First Class Rate</option>
        <option value="secondClassRate">Second Class Rate</option>
        <option value="durationMinutes">Duration</option>
    </select>
    <label>Sort Order:</label>
    <select id="sortOrder" formControlName="sortOrder">
        <option value="">No choice</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <button type="submit">Search</button>
</form>
<!-- Only direct -->
<app-search-result-component *ngIf="showDirect" [results]="directResults"></app-search-result-component>

<!-- Only indirect -->
<app-indirect-result-component *ngIf="showIndirect" [journeys]="indirectRoutes"></app-indirect-result-component>
